
.barra {
    display: flex;
    justify-content: space-between;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@keyframes borda-animada {
  0% { background-position: 200% 50%; }
  100% { background-position: 0% 50%; }
}


.card {
  flex: 1 1 calc(33.33% - 20px);
  background: white;
  padding: 40px 30px;
  text-align: left;
  position: relative;
  overflow: hidden; /* Evita que o pseudo-elemento ultrapasse os limites */
}

/* Criando a borda animada no topo com ::before */
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px; /* Espessura da borda */
  background: linear-gradient(90deg, #1aff45, #262626, #1aff45);
  background-size: 200% 100%;
  animation: borda-animada 2.5s infinite linear;
}

.secao-intro .bloco {
position: relative;
}

.secao-intro .bloco::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px; /* Espessura da borda */
  background: linear-gradient(90deg, #1aff45, #262626, #1aff45);
  background-size: 200% 100%;
  animation: borda-animada 2.5s infinite linear;
}


.card img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.menuCard {
  padding: 0 10px;
  display: grid;
  row-gap: 5px;
}
.menuCard li{
  font-weight: 600;
  font-size: 12.5px;
}
.whatsapp-fixo{
  position: fixed;
  bottom: 25px;
  right: 13px;
  z-index: 9999;
}

.bloco {
  display: flex;
  background-color: white;
  padding: 30px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}


/* Layout das colunas */
.coluna {
  padding: 10px;
}

.esquerda {
  width: 33.33%;
}

.direita {
  width: 66.67%;
}
.direita p {
  padding-left: 30px;
  margin-bottom: 0;
}

/* EstilizaÃƒÂ§ÃƒÂ£o do subtÃƒÂ­tulo */
.breadcrumb {
  display: block;
  font-size: 14px;
  color: #262626;
  margin-bottom: 5px;
}
.active {
  color: #1aff45 !important;
}

.grade-marcas {
  display: flex;
   /* 3 colunas iguais */
  gap: 50px; /* espaÃƒÂ§amento entre colunas e linhas */
  justify-items: center; /* centraliza as imagens horizontalmente */
  align-items: center;   /* centraliza as imagens verticalmente */
  align-content: center;
  justify-content: center;
}

.grade-marcas img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  height: 25px;
}

.mbz {
  margin-bottom: 0 !important;
}

.artigos {
  background-color: #ffff;
  padding: 50px 40px;
}

.artigos h2{
  padding-top: 20px;
}

.artigos h2, .artigos h3 {
  font-weight: 500 !important;
}

.secao-intro {
  padding-top: 70px;
}

.conteudo-principal {
  padding-bottom: 70px;
}

footer .container{
  display: flex;
  align-items: center;
}
footer .container p{
  margin-bottom: 0;
}
.rodape {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 20px 35px 20px;
  background-color: white;
  flex-wrap: wrap;
  gap: 20px;
}

.rodape p{
 font-size: 13px;
}

.coluna-logo {
  flex: 1;
  line-height: 0;
}

.logo-footer {
  max-width: 120px;
  height: auto;
}

.coluna-texto {
  flex: 1;
  min-width: 200px;
  font-size: 14px;
}

.coluna-redes {
  min-width: 150px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.icone-rede {

  transition: opacity 0.3s;
}

.icone-rede:hover {
  opacity: 0.6;
} 


.area-cta h2 {
  font-size: 8.9em;
  text-align: center;
}
.area-cta-bloco {
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}
.area-cta-bloco-esquerda {
  width: 70%;
}
.area-cta-bloco-esquerda p {
  margin-bottom: 0;
  font-weight: 600;
}
.area-cta-bloco-direita {
  text-align: end;
  width: 30%;
}

.footer-cta {
    padding: 0px 0 50px 0 !important;
}

.footer-cta-botao {
  background-color: #1aff45;
  padding: 60px 20px;
}
.cta-button-footer {
  background-color: #262626 !important;
  color: #1aff45 !important;
  padding: 25px 45px !important;
}

.cta-button-footer:hover {
  background-color: #ffffff !important;
  color: #262626 !important;
}

.carrosel-section {
  padding: 0;
}

.carrossel-palavras {
  overflow: hidden;
  width: 100%;
  background-color: #1aff45;
  padding: 30px 0;
}

.conteudo-carrossel {
  display: flex;
  width: max-content;
  animation: deslizar 100s linear infinite;

}

.conteudo-carrossel h2 {
  font-size: 5vw;
  font-weight: bold;
  color: #262626;
  white-space: nowrap;
  margin: 0;
}

.conteudo-carrossel span {
    margin-right: 1vw;
    position: relative;
    top: 1vw;
}

/* AnimaÃƒÂ§ÃƒÂ£o fluida */
@keyframes deslizar {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 1561px) {
    .cta-button {
      padding: 15px 45px;
      font-size: 12px;
      line-height: normal;
      text-align: center;
  }
}
@media (max-width: 1465px) {
    .menu a {
    font-size: 12px;
}
  .menu a::after {
    padding: 0 3px 0 9px;
}
  .cta-button {
      padding: 15px 45px;
      font-size: 12px;
      line-height: normal;
      text-align: center;
  }
}
  @media (max-width: 1024px) {
      .container {
        padding: 0 15px; 
      }
      .col {
        flex: 1 1 calc(33.33% - 10px);
    }
      .cta-button {
      padding: 5px 35px;
      font-size: 12px;
      line-height: normal;
      text-align: center;
  }

  }

  @media (max-width: 768px) {
    .container {
      padding: 0 10px; 
    }
    .col {
      flex: 1 1 calc(100% - 10px);
  }
  .banner {
    margin-top: 64px;
  }
  .menu {
      display: list-item;
      text-align: center;
      z-index: 9;
      position: absolute;
      top: 78px;
      left: 0;
      width: 100%;
      background-color: #262626;
      padding: 5px 15px;
      border-top: #1aff449c solid 1px;
    }
    .displayMenu  {
      padding: 0 !important;
    }
    .menu a {
      color: #ffffff;
      font-size: 12px;
    }
    .menu a::after {
    content: '•';
    padding: 0 2px 0 7px;
    color: #1aff45;
}
.menu a:nth-child(3)::after {
    content: '';
    padding: 0;
}

    .logo img {
        transition: transform 0.1s ease-in-out;
        width: 150px;
    }
    .navbar {
      padding: 20px;
    }
    .navbar .cta-button {
      padding: 20px 25px;
      font-size: 12px;
      line-height: 0;
    }
    .marcas h3 {
      text-align: center;
    }
    .card {
      flex: 1 1 100%;
    }
    html {
    font-size: 18px; /* Para telas grandes, define 1rem como 18px */
    }
    .bloco {
      flex-direction: column;
  }
  .esquerda, .direita {
      width: 100%;
  }
  .active {
    color: #1aff45 !important;
  }
  .grade-marcas {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 colunas iguais */
    gap: 50px; /* espaÃƒÂ§amento entre colunas e linhas */
    justify-items: center; /* centraliza as imagens horizontalmente */
    align-items: center;   /* centraliza as imagens verticalmente */
    padding-top: 20px;
  }
  .direita p {
    padding-left: 0px;
    margin-bottom: 0;
}
.grade-marcas img {
  max-width: 100px;
}
.area-cta h2 {
    font-size: 11vw;
   
}
.coluna-redes {
    justify-content: center;
}
footer .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    row-gap: 15px;
}
.conteudo-carrossel h2 {
    font-size: 10vw;
}
.area-cta-bloco-esquerda br {
  display: none;
}
.area-cta-bloco {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.area-cta-bloco-esquerda, .area-cta-bloco-direita {
    width: 100%;
    text-align: center;

}
.footer-cta {
    padding: 0 0 30px 0 !important;
}
.area-cta-bloco {
    row-gap: 35px;
}
.secao-intro {
    padding-top: 138px;
}

}